APP_NAME=EcoPoints-Go-API
APP_ENV=development
APP_PORT=8092

DB_CONNECTION=mysql
DB_HOST=153.92.15.57
DB_PORT=3306
DB_DATABASE=u278523899_ecopoints
DB_USERNAME=u278523899_Ecopoints123
DB_PASSWORD=Ecopoints123

JWT_SECRET=ecopoints_jwt_secret_key_2026_super_secure_key
JWT_EXPIRATION_HOURS=72